
.about {
  .wrap-center {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  .text-module-title {
    margin-bottom: -18px;
  }

  .text-module-subtitle {
    margin-bottom: 25px;
  }

  .text-claim {
    margin-bottom: 60px;
    opacity: 0.7;
  }
}
