@import'../settings/settings.scss';

.about {
  .wrap-center {
    @media screen and (min-width: $screen-m) {
      padding-top: 125px;
      padding-bottom: 125px;
    }
  }

  .text-module-title {
    margin-bottom: -16px;
  }

  .text-module-subtitle {
    margin-bottom: 25px;
  }

  .text-claim {
    margin-bottom: 60px;
    opacity: 0.7;
  }
}
