@import'../settings/settings.scss';

.l-slider {
  position: relative;

  .wrap-center {
    padding-top: 60px;
  }

  .wrap-full {
    padding-top: 0;
    padding-bottom: 30px;

    @media screen and (min-width: $screen-m) {
      padding-bottom: 110px;
    }

    @media screen and (min-width: $screen-l) {
      padding-bottom: 180px;
    }
  }

  .text-module-title {
    margin-bottom: 20px;
  }

  .text-module-subtitle {
    margin-bottom: -16px;

    @media screen and (min-width: $screen-m) {
      margin-bottom: -21px;
    }
  }

  .text-p-title {
    margin-bottom: 15px;
  }

  .text-p {
    margin-bottom: 30px;
  }

  .activity-data {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      flex-flow: row;
      align-items: flex-start;
    }
  }

  .activity-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (min-width: $screen-m) {
      width: 220px;
      margin-bottom: 0px;
      align-items: flex-start;
    }

    @media screen and (min-width: $screen-xl) {
      width: 320px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content-img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-m) {
      width: 180px;
      height: 180px;
    }

    @media screen and (min-width: $screen-xl) {
      width: 250px;
      height: 250px;
    }
  }

  .text-legend {
    text-align: center;

    @media screen and (min-width: $screen-m) {
      text-align: left;
    }
  }

  .slick-prev {
    left: -7px;

    @media screen and (min-width: $screen-m) {
      left: 2px;
    }

    &:before {
      content: '<';
    }
  }

  .slick-next {
    right: 4px;

    @media screen and (min-width: $screen-m) {
      right: 12px;
    }

    &:before {
      content: '>';
    }
  }

  .slick-next:before, .slick-prev:before {
    position: absolute;
    top: 50%;
    color: $color-2;
    z-index: 3;
    transform: translateY(-50%);
  }

  .arrow-right, .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: lightgrey;
  }

  .arrow-right {
    right: 0;
    transform: translate(380px, -50%);

    @media screen and (min-width: $screen-m) {
      transform: translate(360px, -50%);
    }
  }

  .arrow-left {
    left: 0;
    transform: translate(-380px, -50%);

    @media screen and (min-width: $screen-m) {
      transform: translate(-360px, -50%);
    }
  }
}
