@import'../../settings/settings.scss';

/**
 *  Template:
 *
 *    <nav class="routes wrap-full">
 *      <ul class="text text-legend -light navigator">
 *        <li class="route"><%= link_to '{ title }', '{ path }', { :class => current_class('{ path }') + 'route-link'} %></li>
 *        <li class="route"><%= link_to '{ title }', '{ path }', { :class => current_class('{ path }') + 'route-link'} %></li>
 *      </ul>
 *    </nav>
 *
 */

.routes {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: $color-3;
  opacity: .5;

  &.wrap-full {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navigator {
    display: flex;

    & .route:after {
      content: '>';
      margin-left: 10px;
      margin-right: 10px;
    }

    & .route:last-child:after{
      content: '';
    }

    .route-link {
      color: $color-2;
    }
  }
}
