/**
 *  Template
 *
 *  <table class="c-table table">
 *    <thead>
 *      <tr>
 *        <th class="text text-menu -dark"><a href="{ path } class="sort">{ Title }</a></th>
 *        <th class="text text-menu -dark"><a href="{ path } class="sort">{ Title }</a></th>
 *      </tr>
 *    </thead>
 *
 *    <tbody>
 *      <tr class="wrap text text-desc -dark" data-role="campaign{ id }" data-move-url="{ Content }" data-position="{ Content }">
 *        <td class="text text-desc -dark">{ Content }</td>
 *        <td class="text text-desc -dark -bold">{ Content }</td>
 *      </tr>
 *    </tbody>
 *  </table>

 *  Modifier (td)
 *    -bold
 *
 **/

.c-table {
  border: 0;
  width: 100%;
  border-collapse: collapse;

  @media screen and (min-width: $screen-s) {
    margin-bottom: 50px;
  }

  thead tr{
    display: none;

    @media screen and (min-width: $screen-s) {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100vw;
      justify-content: center;

    }
  }

  thead th {
    position: relative;
    padding: 10px;
    border: 0;
    width: 100%;

    & .sort {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      & .sort-arrow {
        display: flex;
        flex-flow: column;
        width: 8px;
        height: 8px;

        &:last-child {
          transform: rotate(180deg);
        }
      }
    }

    &:last-child .sort {

      @media screen and (min-width: $screen-m) {
        right: calc(8px + 60px);
      }

      @media screen and (min-width: $screen-l) {
        right: calc(8px + 80px);
      }

      @media screen and (min-width: $screen-xl) {
        right: calc(30px + 110px);
      }

      @media screen and (min-width: 1400px) {
        right: calc(20px + (100vw - 1180px)/2);
      }

    }
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    padding: 5px 20px;

    @media screen and (min-width: $screen-s) {
      flex-direction: row;
      padding: 0;
    }

    &:nth-child(odd) {
      background-color: rgba(#ebebeb, .3);
    }

    td:first-child {
      order: 2;

      @media screen and (min-width: $screen-s) {
        order: inherit;
      }
    }

    td:last-child {
      order: 3;
    }
  }

  td:first-child,
  th:first-child {

    @media screen and (min-width: $screen-s) {
      padding-left: $wrap-padding-tablet;
    }

    @media screen and (min-width: $screen-m) {
      padding-left: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-l) {
      padding-left: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-xl) {
      padding-left: $wrap-padding-desktop-xl;
    }

    @media screen and (min-width: 1400px) {
      padding-left: calc((100vw - 1180px)/2);
    }
  }

  td:last-child {
    border-right: none;
  }

  td:last-child,
  th:last-child {

    @media screen and (min-width: $screen-s) {
      padding-right: $wrap-padding-tablet;
    }

    @media screen and (min-width: $screen-m) {
      padding-right: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-l) {
      padding-right: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-xl) {
      padding-right: $wrap-padding-desktop-xl;
    }

    @media screen and (min-width: 1400px) {
      padding-right: calc((100vw - 1180px)/2);
    }
  }

  td {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $screen-s) {
      border: 0;
      border-right: 1px solid lightgrey;
      padding: 20px 10px 17px;
    }

    span {
      font-weight: 600;
      font-size: 16px;

      @media screen and (min-width: $screen-s) {
        display: none;
      }
    }

    .c-tag {
      margin-right: 0;
    }

    a {
      color: $color-3;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text-menu {
    text-transform: capitalize;
    text-align: left;
  }

  .-bold {
    font-family: $font-family-1;
    font-weight: 700;
    font-size: 20px;
  }

  .actions {
    text-align: center;
  }

  .icon-Row-Dragger {
    width: 8px;
    height: 10px;
    cursor: pointer;
  }
}
