
/**
 *  Template
 *
 *  <table class="c-table table">
 *    <thead>
 *      <tr>
 *        <th class="text text-menu -dark"><a href="{ path } class="sort">{ Title }</a></th>
 *        <th class="text text-menu -dark"><a href="{ path } class="sort">{ Title }</a></th>
 *      </tr>
 *    </thead>
 *
 *    <tbody>
 *      <tr class="wrap text text-desc -dark" data-role="campaign{ id }" data-move-url="{ Content }" data-position="{ Content }">
 *        <td class="text text-desc -dark">{ Content }</td>
 *        <td class="text text-desc -dark -bold">{ Content }</td>
 *      </tr>
 *    </tbody>
 *  </table>

 *  Modifier (td)
 *    -bold
 *
 **/

.c-table {
  border: 0;
  margin-bottom: 50px;

  .text-menu {
    text-transform: capitalize;
  }

  thead th {
    position: relative;
    padding-right: 20px;
    border: 0;

    & .sort {
      position: absolute;
      top: 22px;
      right: 15px;
      cursor: pointer;

      & .sort-arrow {
        display: flex;
        flex-flow: column;
        width: 8px;
        height: 8px;

        &:last-child {
          transform: rotate(180deg);
        }
      }
    }

    &:last-child .sort {
      right: calc(8px + 20px);

      @media screen and (min-width: $screen-m) {
        right: calc(8px + 110px);
      }

    }
  }

  tbody tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  td:first-child,
  th:first-child {
    padding-left: $wrap-padding-mobile;

    @media screen and (min-width: $screen-m) {
      padding-left: $wrap-padding-desktop;
    }
  }

  td:last-child {
    border-right: none;
  }

  td:last-child,
  th:last-child {
    padding-right: $wrap-padding-mobile;

    @media screen and (min-width: $screen-m) {
      padding-right: $wrap-padding-desktop;
    }
  }

  td {
    border: 0;
    border-right: 1px solid lightgrey;

    a {
      color: $color-3;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .-bold {
    font-family: $font-family-1;
    font-weight: 700;
  }

  .actions {
    text-align: center;
  }

  .icon-Row-Dragger {
    width: 8px;
    height: 10px;
    cursor: pointer;
  }
}
