.l-about {

  @media screen and (min-width: $screen-m) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .text-module-subtitle {
    margin-bottom: 25px;
  }

  .text-claim {
    margin-bottom: 60px;
    opacity: 0.7;
  }
}
