.l-activity {
  padding: 30px 0;
  background-color: $color-3;

  @media screen and (min-width: $screen-m) {
   padding-top: 80px;
   padding-bottom: 80px;
  }

  @media screen and (min-width: $screen-l) {
   padding-top: 80px;
   padding-bottom: 0;
  }

  .text-module-title {
    margin-bottom: 40px;
    text-align: left;
  }

  .text-module-subtitle {
    text-align: left;
  }

  .activity-data {
    display: flex;
    flex-flow: column;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      flex-flow: row;
      justify-content: space-between;
    }
  }

  .text-p-title {
    margin-bottom: 10px;
    text-align: left;
  }

  .activity-table {
    width: 100%;
    margin-bottom: 45px;
    border-collapse: collapse;

    @media screen and (min-width: $screen-m) {
      width: 290px;
    }

    @media screen and (min-width: $screen-l) {
      width: 380px;
    }

    @media screen and (min-width: $screen-xl) {
      width: 480px;
    }

    tr {
      border-top: 1px solid $color-2;
      height: 45px;

      &:last-child {
        border-bottom: 1px solid $color-2;
      }
    }
  }

  .rank {
    width: 25px;
    text-align: left;
  }

  .user {
    text-align: left;
  }

  .road {
    text-align: right;
  }

  .text-legend {
    text-transform: uppercase;
  }

  .more-info {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .btn-secondary {
    margin-bottom: 30px;
  }

  .text-menu {
    text-transform: none;
  }
}
