.l-community {
  position: relative;
  z-index: 2;
  margin-top: -65px;
  background-color: #fff;
  padding: 30px 0;

  @media screen and (min-width: $screen-m) {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text-module-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .text-module-subtitle {
    text-align: center;
  }

  hr {
    max-width: 600px;
    width: 100%;
    border: none;
    border-bottom: $color-3 solid 3px;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .community-data {
    display: flex;
    flex-flow: column;
    width: 600px;

    @media screen and (min-width: $screen-m) {
      flex-flow: row;
      justify-content: space-between;
    }

    .text-legend {
      font-size: 15px;
    }

    & > div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: $screen-m) {
        margin-bottom: 0;
      }
    }
  }

  .community-element {
    text-align: center;
  }

  .text-legend {
    text-transform: uppercase;
  }

}
