// @import'../../settings/utils.scss';

.l-home-intro {
  position: relative;
  background-color: lightgrey;
  background-image: image-url('landing-bg1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .image-title {
    width: 200px;
    padding: 30px 0;

    @media screen and (min-width: $screen-m) {
      width: 450px;
      padding-top: 120px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  hr {
    width: 80%;
    max-width: rem(610);
    border: none;
    border-bottom: $color-1 solid 3px;
    border-radius: 2px;
    margin-bottom: 25px;
  }

  .text-claim {

    @media screen and (min-width: $screen-m) {
      max-width: 780px;
    }
  }

  .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $screen-m) {
      padding-bottom: 140px;
    }

    > .partner {
      margin: 10px 20px 20px;
      background-size: cover;

      @media screen and (min-width: $screen-m) {
        margin: 20px 40px 30px;
      }
    }

    .moabi {
      width: 40px;
      height: 36px;
      background-image: image-url('partner-logo-1.png');

      &:hover {
        background-image: image-url('partner-logo-1hover.png');
      }

      @media screen and (min-width: $screen-m) {
        width: 72px;
        height: 66px;
      }
    }

    .eu-co {
      width: 77px;
      height: 50px;
      background-image: image-url('partner-logo-2.png');

      @media screen and (min-width: $screen-m) {
        width: 138px;
        height: 87px;
      }
    }

    .gfw {
      width: 40px;
      height: 36px;
      background-image: image-url('partner-logo-3.png');

      &:hover {
        background-image: image-url('partner-logo-3hover.png');
      }

      @media screen and (min-width: $screen-m) {
        width: 72px;
        height: 66px;
      }
    }
  }

  .find-more {

    @media screen and (min-width: $screen-m) {
      position: absolute;
      bottom: 0;
    }

    .text-button {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .arrow {
      width: 23px;
      height: 23px;
      border: 4px solid $color-2;
      transform: rotate(45deg);
      border-top: 0;
      border-left: 0;
    }
  }
}
