.l-participate {
  padding: 60px 0;
  background-color: $color-1;
  transform: skewY(-3deg);
  background-image: image-url('landing-bg2.jpg');

  @media screen and (min-width: $screen-m) {
    padding-bottom: 150px;
    padding-top: 90px;
  }

  @media screen and (min-width: $screen-l) {
    padding-bottom: 200px;
    padding-top: 120px;
  }

  .wrap {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    transform: skewY(3deg);
    padding-bottom: 30px;

    @media screen and (min-width: $screen-m) {
      padding-bottom: 60px;
    }

    @media screen and (min-width: $screen-l) {
      padding-top: 40px;
      padding-bottom: 90px;
    }
  }

  .text-module-title {
    margin-bottom: 20px;
  }

  .text-p-title {
    margin-bottom: 15px;
  }

  .text-p {
    font-weight: 600;

    @media screen and (min-width: $screen-m) {
      font-size: 15px;
	    line-height: 1.6;
    }
  }

  .participate-content {
    display: flex;
    flex-flow: column;

    @media screen and (min-width: $screen-m) {
      flex-flow: row;
    }
  }

  .image-item {
    width: 280px;
    height: 140px;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-l) {
      width: 380px;
      height: 210px;
      margin-bottom: 27px;
    }
  }

  .participate-item {
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;

    @media screen and (min-width: $screen-m) {
      margin-bottom: 0;

      &:first-child {
        margin-right: 40px;
      }
    }
  }

  .text-button {
    text-transform: none;
  }


}
