.l-slider {
  position: relative;
  padding: 40px 0 20px;

  @media screen and (min-width: $screen-m) {
    padding: 60px 0;
  }

  @media screen and (min-width: $screen-l) {
    padding: 80px 0;
  }

  .text-module-title {
    margin: -10px 0 20px;

    @media screen and (min-width: $screen-m) {
      margin: 0 0 20px;
    }
  }

  .text-p {
    margin-bottom: 40px;
    max-width: 780px;

    @media screen and (min-width: $screen-m) {
      margin-bottom: 60px;
    }
  }

  .activity-data {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      flex-flow: row;
      align-items: flex-start;
    }
  }

  .activity-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    &.-task .content-img {
      background-size: cover;
      background-image: image-url('illustration1.svg');
    }

    &.-square .content-img {
      background-size: cover;
      background-image: image-url('illustration2.svg');
    }

    &.-roads .content-img {
      background-size: cover;
      background-image: image-url('illustration3.svg');
    }

    @media screen and (min-width: $screen-m) {
      width: 250px;
      margin-bottom: 0px;
      align-items: flex-start;
      padding: 0 10px;
    }

    @media screen and (min-width: $screen-l) {
      width: 380px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content-img {
    width: 180px;
    height: 180px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-m) {
      width: 200px;
      height: 200px;
    }

    @media screen and (min-width: $screen-l) {
      width: 250px;
      height: 250px;
    }
  }

  .text-p-title {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $screen-m) {
      text-align: left;
    }
  }

  .text-legend {
    text-align: center;

    @media screen and (min-width: $screen-m) {
      text-align: left;
    }
  }

  .slick-prev {
    left: -3px;
    z-index: 10;
    margin-top: -4px;

    @media screen and (min-width: $screen-m) {
      left: 0px;
      margin: 5px;
    }

    &:before {
      content: '';
      width: 15px;
      height: 20px;
      @include arrow(15px, #fff, 3px, -45deg);
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  .slick-next {
    right: 14px;
    z-index: 10;
    margin-top: -4px;

    @media screen and (min-width: $screen-m) {
      right: 18px;
      margin-top: 5px;
    }

    &:before {
      content: '';
      width: 15px;
      height: 20px;
      @include arrow(15px, #fff, 3px, 135deg);
      transform: translateY(-50%) rotate(135deg);
    }
  }

  .slick-next:before, .slick-prev:before {
    position: absolute;
    top: 50%;
    color: $color-2;
    z-index: 3;
  }

  .arrow-right, .arrow-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: lightgrey;
  }

  .arrow-right {
    right: 0;
    transform: translate(375px, -50%);

    @media screen and (min-width: $screen-m) {
      transform: translate(360px, -50%);
    }
  }

  .arrow-left {
    left: 0;
    transform: translate(-375px, -50%);

    @media screen and (min-width: $screen-m) {
      transform: translate(-360px, -50%);
    }
  }
}
