<section class="l-tasks" id="tasksIndex">

  <article class="l-intro -tasks">
    <div class="l-routes -tasks -dark" id="taskRoutes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route"><%= link_to 'Task', tasks_path, {:class => 'route-link'} %></li>
              <li class="route">Task name</li>
            </ul>
            <div id="open-modal" class="open-modal"></div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="l-main-content">
    <div id="data-table-view"></div>
  </article>
</section>
