<section class="l-tasks -detail" id="tasksDetail">

  <article class="l-intro -tasks-detail">
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route"><%= link_to 'Mapathons', events_path, {:class => 'route-link'} %></li>
              <li class="route">Event name</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="l-main-content">
    <div id="data-table-view"></div>
  </article>
</section>
