<section class="l-tasks -detail" id="tasksDetail">

  <article class="l-intro -tasks-detail">
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route"><%= link_to 'Mapathons', events_path, {:class => 'route-link'} %></li>
              <li class="route">Event name</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <aside class="wrap">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="c-section-intro">
            <span class="date">10/03/2016 - 10/09/2016</span>
            <h1 class="title text text-module-subtitle -light">Mapathon Name</h1>
            <p class="text text-desc -light">Description vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur, sed do. </p>
          </div>
          <button class="bttn bttn-primary">participate</button>
          <button class="bttn bttn-secondary">contact</button>
        </div>
      </div>
    </aside>
  </article>

  <article class="l-main-content">
    <div id="data-table-view"></div>
  </article>
</section>
