<footer class="l-footer-back wrap-full">
    <ul class="footer-menu">
      <li class="text text-foot -light">About</li>
      <li class="text text-foot -light">Contact</li>
    </ul>
    <div class="rights">
      <p class="text text-foot -light">© JRC European Commission</p>
    </div>
</footer>
