<% flash.each do |key, value| %>
    <%
      case key
        when 'alert' then
          key = 'warning'
        when 'notice' then
          key = 'success'
      end
    %>
    <div class="wrap">
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
    </div>
<% end %>
