@import'../settings/settings.scss';

.footer {
  padding: 15px 75px 13px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  .logo {
    width: 110px;
    height: 45px;
  }

  .subscribe {
    display: flex;
    align-items: center;

    .text-legend {
      text-transform: uppercase;
      margin-right: 15px;
    }

    .email-input {
      width: 285px;
      height: 35px;
      background: none;
      border: none;
      border-bottom: $color-2 solid 1px;
      text-transform: none;
    }
  }

  .text-button {
    font-size: 20px;
    background-color: transparent;
  }
}
