.l-header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: $color-3;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    z-index: 10;

    img {
      max-width: 100%;
      width: 95px;

      @media screen and (min-width: $screen-l) {
        width: 125px;
      }
    }
  }
}

.l-intro {
  position: relative;
  max-height: 500px;
  padding: 70px 0 300px;
  background-size: cover;

  &.-campaigns {
    background-image: image-url('bg1-1600.jpg');
  }

  &.-campaigns-detail {
    background-image: image-url('bg2-1600.jpg');
  }

  &.-events {
    background-image: image-url('bg1-1600.jpg');
  }

  &.-events-detail {
    background-image: image-url('bg2-1600.jpg');
  }

  &.-tasks {
    height: 40px;
    padding: 0;
    background-image: none;
  }

  &.-tasks-detail {
    background-image: none;
    position: absolute;
    top: 0;
    //This wierd figure is to be over the map.
    //It seems to have a 400.
    z-index: 401;
    width: 100%;
    padding-bottom: 0;
    pointer-events: none;
  }
}

.l-routes {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $color-3;
  opacity: .5;

  &.-tasks {
    color: $font-color-3;
    background-color: #dedede;
  }

  &.-dark {
    opacity: 1;
    color: #fff;
    background-color: $color-3;
  }
}

.l-table {
  padding: 50px 0 55px;
}

.l-tabs {
  position: relative;
  z-index: 1;
  margin-top: -80px;
}

.l-tasks {
  position: relative;
}

.l-tasks-detail {
  position: relative;
}
