.l-header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: $color-3;
}

.l-intro {
  position: relative;
  max-height: 500px;
  padding: 70px 0 300px;
  background-size: cover;

  &.-campaigns {
    background-image: image-url('bg1-1600.jpg');
  }

  &.-campaigns-detail {
    background-image: image-url('bg2-1600.jpg');
  }

  &.-events {
    background-image: image-url('bg1-1600.jpg');
  }

  &.-events-detail {
    background-image: image-url('bg2-1600.jpg');
  }

  &.-tasks {
    height: 40px;
    padding: 0;
    background-image: none;
  }

  &.-tasks-detail {
    height: 40px;
    padding: 0;
    background-image: none;
  }
}

.l-routes {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $color-3;
  opacity: .5;

  &.-tasks {
    color: $font-color-3;
    background-color: #dedede;
  }

  &.-dark {
    opacity: 1;
    color: #fff;
    background-color: $color-3;
  }
}

.l-table {
  padding: 50px 0 55px;
}

.l-tabs {
  position: relative;
  z-index: 1;
  margin-top: -80px;
}

.l-tasks {
  position: relative;
}
