<div class="l-footer">
  <div class="main-footer">
    <%= link_to (image_tag "logo.png", class: "logo"), "/"%>
    <div class="subscribe">
      <p class="text text-legend -light">SUSCRIBE TO THE NEWSLETTER:</p>
      <input class="email-input text text-legend" type="text" name="email" placeholder="Your email">
    </div>
    <div class="aux"></div>
  </div>
</div>
