<div class="wrap">
  <div class="row">
    <h1 class="text text-module-title -primary">About</h1>
    <h2 class="text text-module-subtitle -dark">The Project</h2>
    <p class="text text-claim -darker">To achieve our ambitious goals we want to build a true global partnership to protect tropical forests. Your input – wherever you are – will support leading experts in ecology, mapmaking and information technology.</p>
    <p class="text text-claim -darker">Just take a look at who we’ve got joining us on the journey... </p>
    <button class="bttn bttn-primary">Find out more</button>
  </div>
</div>
