<div class="wrap">
  <div class="row">
    <h2 class="text text-module-subtitle -primary">Users</h2>
    <h1 class="text text-module-title -light">Activity</h1>
    <div class="activity-data">
      <div class="ranking" id="ranking"></div>
      <div class="latest-activity" id="latest-activity"></div>
    </div>
    <div class="more-info">
      <!-- <button class="btn btn-secondary">Find out more</button>
      <p class="text text-menu -light">Tell us your initiative</p> -->
    </div>
  </div>
</div>
