<div class="wrap">
  <div class="row">
    <h2 class="text text-module-subtitle -primary"><%= t('home.activity.subtitle') %></h2>
    <h1 class="text text-module-title -light"><%= t('home.activity.title') %></h1>
    <div class="activity-data">
      <div class="ranking" id="ranking"></div>

  <!-- Please, keep this code here. We will need it in the near future, once
  we will know wich endpoint should we show here. -->

    <!--  <div class="latest-activity" id="latestActivity"></div> -->
    </div>
  </div>
</div>
