<div class="wrap">
  <div class="row">
    <h2 class="text text-module-subtitle -dark"><%= t('home.community.subtitle') %></h2>
    <h1 class="text text-module-title -primary"><%= t('home.community.title') %></h1>
    <hr/>
    <div id="communityData">
    </div>
  </div>
</div>

