<div class="dots-menu">
    <div id="intro-dot" class="dot-item"><a href="#intro" title="Logging Roads">&nbsp</a></div>
    <div id="slider-dot" class="dot-item"><a href="#slider" title="Collaborate">&nbsp</a></div>
    <div id="participate-dot" class="dot-item"><a href="#participate" title="Participate">&nbsp</a></div>
    <div id="events-dot" class="dot-item"><a href="#events" title="Events">&nbsp</a></div>
    <div id="community-dot" class="dot-item"><a href="#community" title="Join the Comunnity">&nbsp</a></div>
    <div id="activity-dot" class="dot-item"><a href="#activity" title="Users Activity">&nbsp</a></div>
    <div id="about-dot" class="dot-item"><a href="#about" title="About">&nbsp</a></div>
</div>
