<div class="wrap -center">
  <h1 class="image-title"><%= image_tag "logo.png" %></h1>
  <hr/>
  <p class="text text-claim -light"><%= t('home.intro') %></p>
  <div class="partners">
    <div class="partner moabi"></div>
    <div class="partner eu-co"></div>
    <div class="partner gfw"></div>
  </div>
  <div class="find-more">
    <a href="#slider" class="text text-button -light"><%= t('home.find_more') %>
      <div class="arrow"></div>
    </a>
  </div>
</div>
