<div class="wrap -center">
  <h1 class="image-title"><%= image_tag "logo.png" %></h1>
  <hr/>
  <p class="text text-claim -light"><%= t('home.intro') %></p>
  <div class="partners">
    <div class="moabi"></div>
    <div class="eu-co"></div>
    <div class="gfw"></div>
  </div>
  <div class="find-more">
    <a href="#slider" class="text text-button -light">Find out more
      <div class="arrow"></div>
    </a>
  </div>
</div>
