<div class="wrap">
  <div class="row">
    <h2 class="text text-module-subtitle -dark">Participate</h2>
    <h1 class="text text-module-title -light">Help us map roads<br/> in forests</h1>
    <div class="participate-content">
      <div class="participate-item">
        <img src="" class="image-item">
        <h3 class="text text-p-title -dark">Mapathon</h3>
        <p class="text text-p -darker">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur, sed do.</p>
        <a href="" class="text text-p -light">[+] more</a>
      </div>
      <div class="participate-item">
        <img src="" class="image-item">
        <h3 class="text text-p-title -darker">Campaigns</h3>
        <p class="text text-p -dark">Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis.</p>
        <a href="" class="text text-p -light">[+] more</a>
      </div>
    </div>
  </div>
</div>
