<div class="slider-container">
  <div class="collaborate slider-element">
    <div class="wrap -center">
      <h2 class="text text-module-subtitle">Collaborate</h2>
      <h1 class="text text-module-title -primary">With us</h1>
      <p class="text text-p -dark">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur adipisicing elit, sed do dionisio.</p>
    </div>
    <div class="activity-data wrap">
      <div class="activity-section -task">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark">GO TO TASK</h3>
        <p class="text text-legend -darker">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="activity-section -square">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark">SELECT A SQUARE TO WORK ON</h3>
        <p class="text text-legend -darker">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="activity-section -roads">
        <div class="content-img"></div>
        <h3 class="text text-p-title -dark">MAP THE ROADS</h3>
        <p class="text text-legend -darker">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
      </div>
    </div>
  </div>
  <div class="slider-element">
     <div class="wrap -center">
      <h2 class="text text-module-subtitle -dark">More</h2>
      <h1 class="text text-module-title -primary">Info</h1>
      <div class="activity-data"></div>
    </div>
  </div>
</div>
