
<div class="footer">
  <img class="logo" src="">
  <div class="subscribe">
    <p class="text text-legend -light">SUSCRIBE TO NEWSLETTER:</p>
    <input class="email-input text text-legend" type="text" name="email" placeholder="Your email">
  </div>
  <button class="text text-button -light">Sign in</button>
</div>
