
<div class="slider-container">
  <div class="collaborate slider-element">
    <div class="wrap-center">
      <h2 class="text text-module-subtitle -dark">Colaborate</h2>
      <h1 class="text text-module-title -primary">With us</h1>
      <div class="activity-data"></div>
    </div>
  </div>
  <div class="slider-element">
     <div class="wrap-center">
      <h2 class="text text-module-subtitle -dark">More</h2>
      <h1 class="text text-module-title -primary">With us</h1>
      <div class="activity-data"></div>
    </div>
  </div>
</div>
