<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="parallax">
  <div class="mod">
    <%= render 'intro' %>
  </div>
  <div class="mod">
    <%= render 'colaborate' %>
  </div>
</div>
