<div class="index-title wrap">
  <h1>Campaigns</h1>
  <%= link_to 'New Campaign', new_admin_campaign_path, class: 'bttn bttn-primary' %>
</div>

<div class="search wrap">
  <input type="text" class="search-input" placeholder="Search" />
  <svg class="icon icon-search">
    <use xlink:href="#icon-search"></use>
  </svg>
</div>

<table class="table table-bordered draggable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Htag</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody data-role="activerecord_sortable">
    <%= render @campaigns %>
  </tbody>
</table>

<script>
search(event) {
  const token = event.target.value;

  if (token !== '') {
    const result = this.fuse.search(token);
    this.setState({ data: result });
  } else {
    this.setState({ data: this.data });
  }
}
</script>
