
<div class="wrap-center">
  <h2 class="text text-module-subtitle -dark">Join the</h2>
  <h1 class="text text-module-title -primary">Community</h1>
  <hr/>
  <div class="community-data">
    <%= react_component('CommunityData', {:communityData => {title: 'test', :quantity => 45.5, :percentage => true}} ) %>
    <%= react_component('CommunityData', {:communityData => {title: 'test', :quantity => 45.5, :percentage => true}} ) %>
    <%= react_component('CommunityData', {:communityData => {title: 'test', :quantity => 45.5, :percentage => true}} ) %>
  </div>
</div>


