
<div class="wrap-center">
  <h2 class="text text-module-subtitle -dark">Join the</h2>
  <h1 class="text text-module-title -primary">Community</h1>
  <hr/>
  <div class="community-data">
    <div id="total-roads"></div>
    <div id="total-tagged"></div>
    <div id="user-changes"></div>
  </div>
</div>

