
<div class="wrap-full">
  <h2 class="text text-module-subtitle -primary">Events</h2>
  <h1 class="text text-module-title -light">Campaign</h1>
  <div class="events-content">
    <p class="text text-p -light">Tropical forests are the lungs of our planet, and a haven for biodiversity. New roads can herald development that reduces the size of the forest and its environmental benefits. Maps are a valuable monitoring tool for keeping tropical forests safe.</p>
    <p class="event-date text text-module-subtitle -light">JUNE THE 12TH.</p>
  </div>
  <div class="event-participate">
    <button class="btn btn-secondary">Participate</button>
    <p class="text text-menu -light">Tell us your initiative</p>
  </div>
</div>
