
<div class="footer">
  <div class="main-footer">
    <img class="logo" src="">
    <div class="subscribe">
      <p class="text text-legend -light">SUSCRIBE TO<br/> NEWSLETTER:</p>
      <input class="email-input text text-legend" type="text" name="email" placeholder="Your email">
    </div>
  </div>
  <div class="login">
    <button class="text text-button -light">Sign in</button>
  </div>
</div>
