
<header class="l-header">
  <div class="h-logo"></div>
  <div class="main-menu">
    <a href="#collaborate" class="text text-menu -light">Collaborate</a>
    <a href="#status" class="text text-menu -light">Status</a>
    <a href="#about" class="text text-menu -light">About</a>
  </div>
  <div class="login">
    <a href="" class=" text text-menu -light">Sign in</a>
  </div>
</header>
