
@import'../../../settings/settings.scss';

/**
 *  Template:
 *
 *  <article class="c-intro content-fluid">
 *    { c-routes }
 *    <aside class="wrap row">
 *      <div class="col-sm-12 col-md-5">
 *        <h1 class="title text text-module-subtitle -light">{ Title }</h1>
 *        <ul class="tags-list text text-tag -light">
 *          <li class="tag">{ Tag name }</li>
 *        </ul>
 *        <p class="text text-desc -light">{ Content }</p>
 *        <a href="/" class="bttn bttn-primary">{ content }</a>  // Optional
 *        <ul class="section-tabs wrap text text-desc -light">  // Optional
 *          <li class="tab">{ Tab name }</li>
 *          <div class="viel wrap"></div>
 *        </ul>
 *      </div>
 *    </aside>
 *  </article>
 *
 **/


.c-intro {
  position: relative;
  background-color: #41563c; // Provisional (Background image)
  height: 500px;

  .wrap {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .title {
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  .tags-list {
    display: flex;
    margin-bottom: 15px;

    .tag {
      background-color: $color-1;
      padding: 2px 6px;
      border-radius: 20px;
      margin-right: 10px;

      @media screen and (min-width: $screen-m) {
        padding: 5px 15px;
        border-radius: 20px;
        margin-right: 10px;
      }
    }
  }

  p.text-desc {
    margin-bottom: 15px;
  }

  .bttn-primary {
    padding: 10px 25px;
    font-size: 14px;
    font-family: $font-family-2;
  }

  .viel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-4;
    opacity: .5;
    z-index: 1;
  }

  .section-tabs {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;

    .tab {
      padding-top: 20px;
      padding-bottom: 20px;
      flex-grow: 1;
      text-align: center;
      text-transform: uppercase;
      z-index: 2;

      &.-active {
        background-color: $color-2;
        color: $color-4;
      }
    }

    .tab-link {
      font-family: $font-family-2;
      color: $color-3;

      .-active & {
        color: $color-4;
      }
    }
  }
}
