@import'../../../settings/settings.scss';

/**
 *  Template:
 *
 *    <ul class="c-routes wrap text text-legend -light">
 *      <li class="route">
 *        <a href="{ path } class=current_class('{ path }') + "route-link">{ content }</a>
 *      </li>
 *    </ul>
 *
 */

.c-routes {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: $color-3;
  opacity: .5;

  &.wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & .route:after {
    content: '>';
    margin-left: 10px;
    margin-right: 10px;
  }

  & .route:last-child:after{
    content: '';
  }

  .route-link {
    color: $color-2;
  }
}