
.bttn {
  padding: 17px 55px 14px 55px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family-1;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s background-color;
  line-height: 20px;

  + p {
    margin-top: 35px;
  }

  @media screen and (min-width: $screen-m) {
    padding: 25px 40px;
    font-size: 15px;
  }

  @media screen and (min-width: $screen-xl) {
    font-size: 18px;
  }
}

/* The orange one */
.bttn-primary {
  background-color: $color-1;
  color: $font-color-2;

  &:hover {
   background-color: $color-1;
   color: $color-3;
  }
}

.bttn-secondary {
  background-color: $color-2;
  color: $font-color-3;

  @media screen and (min-width: $screen-m) {
    padding: 25px 53px;
  }

  &:hover {
    background-color: #eee;
  }
}
