@import'./settings.scss';

.text {
  font-family: $font-family-1;
  margin: 0;

  &.-primary {
    color: $font-color-1;
  }

  &.-light {
    color: $font-color-2;
  }

  &.-darker {
    color: $font-color-3;
  }

  &.-dark {
    color: $font-color-4;
  }
}

/* MODULE TITLE */
.text-module-title {
  font-weight: 700;
  font-size: 63px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-m) {
    font-size: 73px;
  }
}

.text-module-subtitle {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-m) {
    font-size: 38px;
  }
}

.text-p-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-m) {
    font-size: 26px;
  }
}

.text-claim {
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;

  @media screen and (min-width: $screen-m) {
    font-size: 30px;
    line-height: 37px;
  }
}

.text-p {
  font-weight: 200;
  font-size: 28px;
  line-height: 35px;

  @media screen and (min-width: $screen-m) {
    font-size: 32px;
    line-height: 42px;
  }
}

.text-legend {
  font-size: 18px;
  line-height: 21px;
}

.text-menu {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-s) {
    font-size: 15px;
  }

  @media screen and (min-width: $screen-m) {
    font-size: 20px;
  }
}

.text-button {
  font-weight: 500;
  font-size: 15px;
  line-height: 37px;
  text-transform: uppercase;
}

.text-numeric-m {
  font-weight: 700;
  line-height: 35px;
  font-size: 25px;

  @media screen and (min-width: $screen-s) {
    font-size: 35px;
  }

  @media screen and (min-width: $screen-m) {
    font-size: 41px;
    line-height: 41px;
  }
}
