/* WRAPPER */
.wrap {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0 $wrap-padding-mobile;

  @media screen and (min-width: $screen-s) {
    padding: 0 $wrap-padding-tablet;
  }

  @media screen and (min-width: $screen-m) {
    padding: 0 $wrap-padding-desktop;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0 $wrap-padding-desktop-xl;
  }
}

.wrap-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 15px 30px;

  @media screen and (min-width: $screen-s) {
    padding: 45px 40px 40px;
  }

  @media screen and (min-width: $screen-m) {
    padding: 95px 138px 90px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 95px 205px 90px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 95px 290px 90px;
  }
}

.wrap-full {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $screen-s) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $screen-m) {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media screen and (min-width: $screen-l) {
    padding-left: 110px;
    padding-right: 110px;
  }

  @media screen and (min-width: $screen-xl) {
    padding-left: 170px;
    padding-right: 170px;
  }
}

