/* WRAPPER */
.wrap {
  position: relative;
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0 $wrap-padding-mobile;

  @media screen and (min-width: $screen-s) {
    padding: 0 $wrap-padding-tablet;
  }

  @media screen and (min-width: $screen-m) {
    padding: 0 $wrap-padding-desktop;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0 $wrap-padding-desktop-xl;
  }

  &.-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
