@import'./settings.scss';

.wrap-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 15px 30px;

  @media screen and (min-width: $screen-s) {
    padding: 45px 40px 40px;
  }

  @media screen and (min-width: $screen-m) {
    padding: 95px 138px 90px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 95px 205px 90px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 95px 290px 90px;
  }
}

.wrap {
  display: flex;
  padding: 35px 15px 30px;

  @media screen and (min-width: $screen-m) {
    padding: 95px 75px 90px 45px;
  }
}

.wrap-full {
  //display: flex;
  // flex-flow: column;
  // align-items: flex-start;
  // justify-content: center;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $screen-s) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $screen-m) {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media screen and (min-width: $screen-l) {
    padding-left: 110px;
    padding-right: 110px;
  }

  @media screen and (min-width: $screen-xl) {
    padding-left: 170px;
    padding-right: 170px;
  }
}

