<div id="campaings-detail">
  <section class="campaign-detail section" id="campaign-detail-section">
    <article class="c-intro content-fluid">
      <ul class="c-routes wrap text text-desc -light">
        <!-- Paths to set -->
        <li class="route">Campaign</li>
        <li class="route"><%= link_to 'Campaign', campaigns_path, {:class => 'route-link'} %></li>
        <li class="route"><%= link_to 'Campaign name', campaigns_path, {:class => 'route-link'} %></li>
      </ul>

      <aside class="wrap row">
        <div class="col-sm-12 col-md-5">
          <h1 class="title text text-module-subtitle -light">Campaigns Name</h1>
          <ul class="tags-list text text-tag -light">
            <li class="tag">Tag 1</li>
            <li class="tag">Tag 2</li>
            <li class="tag">Tag 3</li>
          </ul>
          <p class="text text-desc -light">Description vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur, sed do. </p>
          <a href="#" class="bttn bttn-primary">Participate</a>
        </div>
      </aside>
    </article>

    <article class="content content-fluid" id="campaign-detail-table">
      <div class="wrap row">
      </div>
    </article>
  </section>
</div>
