
.l-footer-back {
  width: 100%;
  background-color: $color-3;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }


  .footer-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    .text-foot {
      font-family: $font-family-1;
      text-transform: uppercase;
      margin-right: 40px;
    }
  }

  .rights {
    display: flex;
    align-items: center;

    .text-foot {
      font-family: $font-family-1;
    }
  }
}
