#map {
  width: 100%;
  height: 500px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  font-family: $font-family-2;
}

.form-wrap {
  padding: 20px 10px;

  @media screen and (min-width: $screen-m) {
    padding: 40px 15%;
  }

  @media screen and (min-width: $screen-l) {
    padding: 40px 25%;
  }
}

form {

  .required .form-control-label::after {
    content:"*";
    color:#151515;
  }

  .form-control {
	  min-height: 40px;
	  background-color: rgba(255, 255, 255, 0.5);
	  border: solid 1px #b8b8b8;
    border-radius: 0px;
    color: #151515;
    font-family: $font-family-1;
    padding: 7px 20px;
  }

  .form-control-label {
    text-align: right;
    font-weight: 600;
    color: #151515;
    font-size: 18px;
    font-family: $font-family-1;
  }

  .form-control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 20px;
    }

    label {
      padding: 0 20px 0 5px;
      margin-bottom: 0;
    }

    .devise-links {
      align-self: flex-start;
    }
  }

  select {
    height: 40px;
    border-radius: 0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .img_upload {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  #error_explanation {
    padding: 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      font-family: $font-family-2;
      margin-bottom: 10px;
    }
  }

  // styles for chosen.js plugin

  .chosen-container {
    min-height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    .chosen-choices {
      min-height: 40px;
      line-height: 40px;
      background-image: none;

      li.search-field input[type="text"] {
        font-size: 15px;
        padding-left: 15px;
        font-family: $font-family-1;
      }
    }

    .chosen-results {
      border-radius: 0;
      padding: 0;
      margin: 0;
      max-height: 250px;

      li {
        padding: 10px 20px;
        list-style: none;
        line-height: 15px;
      }
    }
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 5px 2px 5px 5px;
    padding: 7px 25px 7px 12px;
    border: 0px solid #aaa;
    max-width: 100%;
    border-radius: 20px;
    background-color: $color-1;
    background-image: none;
    box-shadow: 0 0 0px white inset, 0 0px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-weight: 600;
    line-height: 15px;
    font-family: $font-family-1;
    cursor: default;
  }

  .search-choice-close {
    top: 9px !important;
    right: 7px !important;
    background: url("close.png") no-repeat !important;
    width: 12px;
    height: 12px;
    display: block;
  }

  .chosen-container .chosen-drop {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }

  .chosen-container .chosen-results li {
    color: black;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background: $color-1;
    }

    &.highlighted {
      background: $color-1;
    }
  }

  .chosen-container-single .chosen-single {
    padding: 0 0 0 20px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 0px;
    background: none;
    box-shadow: 0 0 0px white inset, 0 0px 0px rgba(0, 0, 0, 0.1);
    color: #151515;
    line-height: 40px;
    font-family: $font-family-1;
    font-size: 15px;

    div b {
      display: block;
      width: 100%;
      height: 100%;
      background: url(/assets/chosen/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 0px 10px;
    }
  }

  .chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    box-shadow: 0 0px 0 #fff inset;

    div b {
      background: url(/assets/chosen/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat -18px 10px;
    }
  }

  .chosen-container-single .chosen-search {
    padding: 5px 20px;

    input[type="text"] {
      margin: 1px 0;
      padding: 8px 20px 8px 10px;
      outline: 0;
      font-size: 14px;
      font-family: $font-family-1;
      line-height: normal;
      background-image: url('search.svg');
      background-position: 98% center;
      background-size: 15px 15px;
    }
  }

  // styles for tags input plugin

  div.tagsinput {
    border: 1px solid #b8b8b8;
    width: 100% !important;
    height: 100% !important;
    min-height: 40px !important;
    padding: 0 10px;

    span.tag {
      border: 0;
      border-radius: 20px;
      padding: 2px 10px;
      text-decoration: none;
      background: $color-1;
      color: $color-2;
      font-size: 15px;
      font-family: $font-family-1;
      font-weight: 600;
      margin-top: 5px;

      a {
        color: white;
        font-size: 14px;
      }
    }

    input {
      padding: 3px;
      margin-top: 5px;
    }
  }
}

.datepicker-dropdown {
  z-index: 1001 !important;
  margin-left: 10px;

}

.date-separator {
  text-align: center;
  line-height: 40px;
  height: 40px;
}
