#map {
  width: 100%;
  height: 500px;
}

.hidden {
  display: flex;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  font-family: $font-family-2;
}

.form-wrap {
  padding: 20px 10px;

  @media screen and (min-width: $screen-m) {
    padding: 40px 15%;
  }

  @media screen and (min-width: $screen-l) {
    padding: 40px 25%;
  }
}

form {

  .form-control {
	  min-height: 40px;
	  background-color: rgba(255, 255, 255, 0.5);
	  border: solid 1px #b8b8b8;
    border-radius: 0px;
    color: #151515;
    font-family: $font-family-1;
    padding: 7px 20px;
  }

  .form-control-label {
    text-align: right;
    font-weight: 600;
    color: #151515;
    font-size: 18px;
    font-family: $font-family-1;
  }

  .form-control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 20px;
    }

    label {
      padding: 0 20px 0 5px;
      margin-bottom: 0;
    }

    .devise-links {
      align-self: flex-start;
    }
  }

  select {
    height: 40px;
    border-radius: 0px !important;
  }

  .upload {
    max-width: 300px;
  }

  // styles for chosen.js plugin

  .chosen-container {
    min-height: 40px;

    .chosen-choices {
      min-height: 40px;
      line-height: 40px;
      background-image: none;
    }
  }

  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 4px 5px 3px 0;
    padding: 9px 25px 9px 8px;
    border: 0px solid #aaa;
    max-width: 100%;
    border-radius: 20px;
    background-color: $color-1;
    background-image: none;
    box-shadow: 0 0 0px white inset, 0 0px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-weight: 600;
    line-height: 15px;
    font-family: $font-family-1;
    cursor: default;
  }

  .search-choice-close {
    top: 11px !important;
    right: 7px !important;
    background: url("close.png") no-repeat !important;
    width: 12px;
    height: 12px;
    display: block;
  }

  .chosen-container .chosen-drop {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }

  .chosen-container .chosen-results li {
    color: black;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      background: $color-1;
    }

    &.highlighted {
      background: $color-1;
    }
  }

  // styles for tags input plugin

  div.tagsinput {
    border: 1px solid #b8b8b8;
    width: 100% !important;
    height: 100% !important;
    min-height: 40px !important;

    span.tag {
      border: 0;
      border-radius: 20px;
      padding: 5px 10px;
      text-decoration: none;
      background: $color-1;
      color: $color-2;
      font-size: 15px;
      font-family: $font-family-1;
      font-weight: 600;

      a {
        color: white;
        font-size: 14px;
      }
    }
  }
}

.datepicker-dropdown {
  z-index: 1001 !important;
  margin-left: 20px;
}
