.search {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 15px 15px;
    border: 2px solid rgba($color-4, .3);
    color: rgba($color-4, .4);
    font-size: 20px;
    font-family: $font-family-1;

    @media screen and (min-width: $screen-s) {
      padding: 15px 25px;
      margin: 20px 0;
    }

    &:focus {
      outline: none;
    }
  }

  .icon-search {
    @extend %centery;
    position: absolute;
    margin-right: $wrap-padding-desktop-xl;
    right: 25px;
    width: 25px;
    height: 25px;
    fill: #dedede;
  }
}
