
.table {
  border: 0;

  thead th {
    border: 0 !important;
  }

  tbody tr {
    border: 0;
    vertical-align: middle;

    &:nth-child(odd) {
      background-color: rgba(235, 235, 235, 0.5)
    }
  }

  td {
    border: 0 !important;
    border-right: 1px solid #d8d8d8 !important;
    vertical-align: middle !important;

    &:last-child {
      border: 0 !important;
    }

    a {
      color: $color-3;

      &:hover {
        opacity: .5;
      }
    }
  }

  td:first-child,
  th:first-child {

    @media screen and (min-width: $screen-s) {
      padding-left: $wrap-padding-tablet;
    }

    @media screen and (min-width: $screen-m) {
      padding-left: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-l) {
      padding-left: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-xl) {
      padding-left: $wrap-padding-desktop-xl;
    }

    @media screen and (min-width: 1400px) {
      padding-left: calc((100vw - 1180px)/2);
    }
  }

  td:last-child {
    border-right: none;
  }

  td:last-child,
  th:last-child {

    @media screen and (min-width: $screen-s) {
      padding-right: $wrap-padding-tablet;
    }

    @media screen and (min-width: $screen-m) {
      padding-right: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-l) {
      padding-right: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-xl) {
      padding-right: $wrap-padding-desktop-xl;
    }

    @media screen and (min-width: 1400px) {
      padding-right: calc((100vw - 1180px)/2);
    }
  }

  .actions {
    text-align: center;

    a {
      display: block;
    }
  }

  .icon-Row-Dragger {
    width: 8px;
    height: 10px;
    cursor: pointer;
  }

  &.draggable {
    td:first-child {
      border: 0 !important;
    }
  }
}
