<!DOCTYPE html>
<html>
<head>
  <title>Onboarding</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <%= yield %>
  <div id="app"></div>
  <%= javascript_include_tag 'application' %>
</div>
</body>
</html>
